kind: List
apiVersion: v1
items:
- kind: Deployment
  apiVersion: extensions/v1beta1
  metadata:
    namespace: dev
    name: inventory
  spec:
    replicas: 1
    template:
      metadata:
        labels:
          name: inventory
      spec:
        containers:
        - name: inventory
          image: reactivesw/inventory:0.0.4
          imagePullPolicy: Always
          ports:
          - containerPort: 80
          env:
          - name: server_port
            value: "80"
          - name: spring_datasource_url
            value: jdbc:postgresql://reactivesw-data/inventory
          - name: spring_cloud_config_uri
            value: http://reactivesw-config
          - name: io_reactivesw_message_topic_inventoryreserved_name
            value: reactivesw-dev-inventory-reserved
          - name: io_reactivesw_message_topic_inventoryreserved_version
            value: "1"
          - name: io_reactivesw_message_topic_ordercreated_subscriber
            value: dev-payment-order-pay
          - name: spring_datasource_username
            valueFrom:
              secretKeyRef:
                name: reactivesw-secret
                key: postgres.username
          - name: spring_datasource_password
            valueFrom:
              secretKeyRef:
                name: reactivesw-secret
                key: postgres.password
          - name: jwt_secret
            valueFrom:
              secretKeyRef:
                name: reactivesw-secret
                key: jwt.secret
- kind: Service
  apiVersion: v1
  metadata:
    name: inventory
    namespace: dev
    labels:
      name: inventory
  spec:
    type: NodePort
    ports:
    - port: 80
      targetPort: 80
      nodePort: 30106
    selector:
      name: inventory